mixin pack(params)
    .pack(class=params.class)
        .pack__wrap
            .pack__content
                .pack__content-title #{params.title}
                .pack__content-price £#{params.price}
                .content
                    ul
                        li #{params.item1}
                        li #{params.item2}
                        if params.item3 == false
                        else
                            li #{params.item3}
                .pack__content-btn.pack__content-btn--desktop
                    a(href="#").btn.btn--empty Learn more
                    a(href="#").btn.btn--yellow #{params.btn}
                        svg(viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.875 2.19132C0.875 1.22907 1.91667 0.627661 2.75 1.10879L7.75 3.99554C8.58333 4.47666 8.58333 5.67948 7.75 6.1606L2.75 9.04735C1.91667 9.52848 0.875 8.92707 0.875 7.96482L0.875 2.19132Z')
            .pack__img 
                img(src= params.src alt="")
        .pack__content-btn.pack__content-btn--mobile
            a(href="#").btn.btn--empty Learn more
            a(href="#").btn.btn--yellow #{params.btn}
                svg(viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.875 2.19132C0.875 1.22907 1.91667 0.627661 2.75 1.10879L7.75 3.99554C8.58333 4.47666 8.58333 5.67948 7.75 6.1606L2.75 9.04735C1.91667 9.52848 0.875 8.92707 0.875 7.96482L0.875 2.19132Z')
