mixin travelCards(items)
  .cards__item(class=items.class)
    .cards__item-left
        .img-wrap 
            div 
                img(src=items.src, alt="cards image")
        .cards__item-info
            a(href="product.html").cards__title
                span
                    |#{items.title}
            .cards__sub-title 
                |#{items.subTitle}
    .cards__item-right
        .price 
            |£<span>#{items.price}</span>
        a(href="#").btn.btn--yellow
            |Book test 
            svg(viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.875 2.19132C0.875 1.22907 1.91667 0.627661 2.75 1.10879L7.75 3.99554C8.58333 4.47666 8.58333 5.67948 7.75 6.1606L2.75 9.04735C1.91667 9.52848 0.875 8.92707 0.875 7.96482L0.875 2.19132Z')